{% import 'KalkulatorKalkulatorBundle::macros.html.twig' as macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set pageTitle = pageTitle|default('Strona głowna') %}
    <title>{{ pageTitle }} | Kalkulator</title>
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/font-awesome/css/font-awesome.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/layout.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css') }}" rel="stylesheet">
    {% block styleImport %}{% endblock %}
</head>
<body>
    <div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            {{ kakulator_menu() }}
        </div>
    </nav>
    </div>
    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <button type="button" class="btn btn-success" data-toggle="modal" style="margin-right: 50px;" data-target="#myModa">
                    <i class="fa fa-envelope" style="margin-right: 10px;"></i>Zgłoś problem/propozycje
                </button>
                {{ macros.zglosBlad('Zgłos problem lub propozycje zmiany', 'Znalazłeś jakiś bład na stronie lub masz propozycje zmiany zgłoś to.<br />Dziękujemy za wszystkie sugestie') }}
            </li>
            <li>
                <a href="{{ path('_logout') }}">
                    <i class="fa fa-sign-out"></i> Wyloguj
                </a>
            </li>
        </ul>

    </nav>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
	{{ kalkulator_suma_dzien() }}
        <div class="col-lg-10">
            <h2></h2>
                <!-- breadcrumb -->                                
                    {{ wo_render_breadcrumbs() }}
		<!-- end breadcrumb -->
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="wrapper wrapper-content animated fadeInRight alerts">
	<div class="row">
            <div class="col-lg-12">
        {% for type,messages in app.session.flashbag.all() %}
            {% for msg in messages %}
            <div class="alert alert-{{ type }}">{{ msg }}</div>
            {% endfor %}
        {% endfor %}
            </div>
        </div>
    </div>
    {% block pageContainer %}{% endblock %}
    <div class="footer">
        <div>
            <strong>Copyright</strong> Kamil Gwoździowski &copy; 2016
        </div>
    </div>
    </div>
    <!-- Mainly scripts -->    
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/jquery-2.1.1.js') }}"></script>
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/funkcje.js') }}"></script>
    <!-- Custom and plugin javascript -->
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/inspinia.js') }}"></script>
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/pace/pace.min.js') }}"></script>
    <!-- iCheck -->
    <script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/iCheck/icheck.min.js') }}"></script>
        <script>
            $(document).ready(function () {
                $('.i-checks').iCheck({
                    checkboxClass: 'icheckbox_square-green',
                    radioClass: 'iradio_square-green',
                });
                $('#jq-wyslij-blad').on('click', function(){
                    var email = $('#jq-wyslij-blad-email input').val();
                    var temat = $('#jq-wyslij-blad-temat input').val();
                    var tresc = $('#jq-wyslij-blad-tresc textarea').val();
                    
                    // Validacja maila
                    var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
                    if(!emailReg.test( email ) || email == ''){
                        $('#jq-wyslij-blad-email').addClass('has-error');
                    } else {
                        $('#jq-wyslij-blad-email').removeClass('has-error');
                    }
                    if(temat == ''){
                        $('#jq-wyslij-blad-temat').addClass('has-error');
                    } else {
                        $('#jq-wyslij-blad-temat').removeClass('has-error');
                    }
                    if(tresc == ''){
                        $('#jq-wyslij-blad-tresc').addClass('has-error');
                    } else {
                        $('#jq-wyslij-blad-tresc').removeClass('has-error');
                    }
                    
                    $.ajax({
                        url: '{{ path('ajax_wyslij_wiadomosc') }}',
                        dataType: 'json',
                        data: {
                            email : email,
                            temat : temat,
                            tresc : tresc
                        },
                        type: 'GET',
                    }).done(function(data) {
                        if(data == 1) {
                            $('#myModa').modal('toggle');
                            alert('Dziękujemy, wiadomość została wysłana.');
                        } else {
                            alert('Przepraszamy wystapił bład, wiadomość nie została wysłana.');
                        }
                    });
                    
                });
            });
        </script>
    {% block scriptImport %}{% endblock %}
</body>
</html>
