{% extends "KalkulatorKalkulatorBundle::base.html.twig" %}
{% import 'KalkulatorKalkulatorBundle::macros.html.twig' as macros %}

{% set blok %}
        <table class="table table-bordered table-lista-produktow">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nazwa</th>
                    <th>Kalorii</th>
                    <th>Bialka</th>
                    <th>Weglowowanów</th>
                    <th>Tłuszczy</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for entry in pagination %}
                    <tr>
                        <td>{{ entry.id }}</td>
                        <td>{{ entry.nazwa }}</td>
                        <td>{{ entry.kalorii|number_format(2) }}</td>
                        <td>{{ entry.bialka|number_format(2) }}</td>
                        <td>{{ entry.wegle|number_format(2) }}</td>
                        <td>{{ entry.tluszcze|number_format(2) }}</td>
                        <td align="center">
                            <a href="{{ path('k_posilki_usun', {'id': entry.id}) }}"><i class="fa fa-times"></i></a>
                            <a href="{{ path('k_posilek_dodaj', {'id': entry.id}) }}"><i class="fa fa-cutlery"></i></a>
                        </td>
                    </tr>
                {% else %}
                <tr>
                    <td align="center" colspan="6">Brak posilków</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ knp_pagination_render(pagination, 'KalkulatorKalkulatorBundle:Pagination:pagination.html.twig') }}
{% endset %}

{% block pageContainer %}
    {{ macros.widgetBlock('Lista posilków', '', blok) }}
{% endblock %}
