<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>KalkulatorKcal.pl - ulóż własna diete za darmo</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Animation CSS -->
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/kalkulatorkalkulator/css/plugins/iCheck/custom.css') }}" rel="stylesheet">
</head>
<body id="page-top" class="landing-page no-skin-config">
<div class="navbar-wrapper">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/login"><img style="width: 200px;" src="{{ asset('bundles/front/images/logo_front.png') }}" /></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#page-top">Strona Główna</a></li>
                        <li><a class="page-scroll" href="#jak-uzywac">Jak używać</a></li>
                        <li><a class="page-scroll" href="#rejestracja">Rejestracja</a></li>
                        <li><a class="page-scroll" href="#kontakt">Kontakt</a></li>
                    </ul>
                </div>
            </div>
        </nav>
</div>
<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Ulóż własną diete<br/>
                        Nie płąć za to<br/>
                        i jedz to co lubisz</h1>
                    <p>Zapraszamy do aplikacji w której sam <br />
                        zaplanujesz swoja diete jak lubisz</p>
                    <p>
                        <a class="btn btn-lg btn-success" style="font-size: 14px;font-weight: 600;" href="/login" role="button">Zaloguj się</a>
                        <a class="btn btn-lg btn-primary page-scroll" href="#rejestracja" role="button">Zarejestruj się</a>
                    </p>
                </div>
            </div>
            <!-- Set background for slide in css -->
            <div class="header-back one"></div>

        </div>
    </div>
</div>
    
<section id="jak-uzywac" class="">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Jak używać</h1>
                <p>Zobacz film instruktażowy jak używać naszej aplikacji</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-3">
                <figure>
                    <iframe src="http://www.youtube.com/embed/bwj2s_5e12U" frameborder="0" allowfullscreen="" data-aspectratio="0.8211764705882353" style="width: 600px; height: 300px;"></iframe>
                </figure>
            </div>
        </div>
    </div>
</section>

<section id="rejestracja" class="gray-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Rejestracja</h1>
                <p>Wypełnij prosty formularz aby korzystać z naszego systemu</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <form method="get" class="form-horizontal">
                    <div class="form-group">
                        <label>E-mail</label> 
                        <input type="email" placeholder="Wpisz E-mail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Login</label> 
                        <input type="email" placeholder="Wpisz Login" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Hasło</label> 
                        <input type="password" placeholder="Wpisz Haslo" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Powtórz hasło</label> 
                        <input type="password" placeholder="Powtórz hasło" class="form-control">
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>Zarejestruj</strong></button>
                        <label class="hover">
                            <div class="icheckbox_square-green hover">
                                <input type="checkbox" class="i-checks" style="position: absolute;opacity: 0;">
                            </div> 
                            Remember me
                        </label>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <br />

</section>
<section id="kontakt" class="contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Kontakt</h1>
                <p>Jeśli masz jakis problem, pytanie lub propozycje napisz na mail kalk@o2.pl</p>
                <p>lub skorzystaj z tego formularza</p>
                <a href="mailto:test@email.com" class="btn btn-primary">Send us mail</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2018 KalkulatorKcal.pl</strong></p>
            </div>
        </div>
    </div>
</section>

<!-- Mainly scripts -->
<script src="{{ asset('bundles/kalkulatorkalkulator/js/jquery-2.1.1.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/metisMenu/jquery.metisMenu.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/slimscroll/jquery.slimscroll.min.js') }}"></script>

<!-- Custom and plugin javascript -->
<script src="{{ asset('bundles/kalkulatorkalkulator/js/inspinia.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/pace/pace.min.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/wow/wow.min.js') }}"></script>
<script src="{{ asset('bundles/kalkulatorkalkulator/js/plugins/iCheck/icheck.min.js') }}"></script>


<script>

    $(document).ready(function () {

        $('body').scrollspy({
            target: '.navbar-fixed-top',
            offset: 80
        });

        // Page scrolling feature
        $('a.page-scroll').bind('click', function(event) {
            var link = $(this);
            $('html, body').stop().animate({
                scrollTop: $(link.attr('href')).offset().top - 50
            }, 500);
            event.preventDefault();
            $("#navbar").collapse('hide');
        });
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    // Activate WOW.js plugin for animation on scrol
    new WOW().init();

</script>

</body>
</html>
